 .input-calendar-cnt {
        position: relative;
        display: inline-block;
    }

    .input-calendar {
        background-image: url(./icon-calendar.png);
        background-position: 99% center;
        background-repeat: no-repeat;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .calendar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 300px;
        background: #fff;
        min-height: 300px;
        padding: 5px;
        border: 1px solid #ddd;
        box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
        font-family: sans-serif;
        display: none;
        z-index: 100;
    }

    .calendar.calendar-show {
            display: block;
    }

    .calendar-prev-next {
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    .calendar .input-prev,
    .calendar .input-next {
        position: relative;
        z-index: 1;
        cursor: pointer;
        width: 30px;
        font-family: sans-serif;
        background-color: transparent;
        border: 0;
        color: #333;
    }

    .calendar .input-prev:hover,
    .calendar .input-next:hover {
        background: #D1EBFD;
    }

    .calendar .date-name {
        font-size: 12px;
        color: #666;
        padding: 0 40px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    .calendar .calendar-header {
        height: 30px;
        position: relative;
    }

    .calendar .calendar-table-cnt {
        position: relative;
        padding-top: 10px;
    }

    .calendar .calendar-table {
        font-size: 12px;
        color: #666;
        width: 100%;
    }

        .calendar .calendar-table td {
            text-align: center;
            width: 14.2857%;
        }

        .calendar .calendar-table th {
            font-family: sans-serif;
            font-weight: normal;
            padding-bottom: 10px;
            font-size: 11px;
            color: #aaa;
        }

        .calendar .calendar-table td.day {
            background: #fafafa;
            height: 40px;
            font-size: 11px;
            font-family: sans-serif;
            font-weight: bold;
        }

            .calendar .calendar-table td.day:hover {
                background: #D1EBFD;
                cursor: pointer;
            }

        .calendar .calendar-table td.current-day {
            background-color: #F15C5C;
            color: #fff;
        }

            .calendar .calendar-table td.current-day:hover {
                background-color: #DE5858;
            }

    .demo7 {
      
         display: inline-block;
           margin-bottom: 0;
           margin-left: 10px;
           
           
    }

    .demo7-text {
        background: #fafafa;
        margin-left: 100px;
        padding: 10px;
    }

    .time{
        margin-left: 200px;
        margin-bottom: 10px;
    }